<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.user.mapper.UserMapper">
	<!-- myBatis에서 제공하는 자동 매핑으로 해결이 어려운 경우를 위해 구조를 설계할 수 있도록 만들어진 도구 -->
	<resultMap id="getUserMap" type="java.util.HashMap">
		<result property="userid" column="userid"/>
		<result property="passwd" column="passwd"/>
		<result property="username" column="username"/>
		<result property="email" column="email"/>
		<result property="upoint" column="upoint"/>
		<result property="upt" column="upt"/>
		<result property="indate" column="indate"/>
	</resultMap>

	<!-- user/list -->
	<!-- <select id="getUserList" resultMap="getUserList">
		SELECT USERID, USERNAME, EMAIL,
		    CASE
		        WHEN UPOINT BETWEEN 8001 AND 10000 THEN 'VIP'
		        WHEN UPOINT BETWEEN 6001 AND 8000 THEN '우수회원'
		        WHEN UPOINT BETWEEN 4001 AND 6000 THEN '일반회원'
		        WHEN UPOINT BETWEEN 2001 AND 4000 THEN '준회원'
		        WHEN UPOINT BETWEEN 0 AND 2000 THEN '손님'
		    END UPOINT,
    		TO_CHAR(INDATE, 'YYYY-MM-DD') INDATE FROM TUSER ORDER BY USERID
	</select>-->
	
	<!-- user/list -->
	<select id="getUserList" resultType="com.board.user.domain.UserVo">
		SELECT USERID, USERNAME, EMAIL, UPOINT, TO_CHAR(INDATE, 'YYYY-MM-DD') INDATE FROM TUSER ORDER BY USERID
	</select>
	
	<!-- /user/view -->
	<select id="getUser" resultMap="getUserMap">
		SELECT USERID, PASSWD, USERNAME, EMAIL,
		    CASE
		        WHEN UPOINT BETWEEN 8001 AND 10000 THEN 'VIP'
		        WHEN UPOINT BETWEEN 6001 AND 8000 THEN '우수회원'
		        WHEN UPOINT BETWEEN 4001 AND 6000 THEN '일반회원'
		        WHEN UPOINT BETWEEN 2001 AND 4000 THEN '준회원'
		        WHEN UPOINT BETWEEN 0 AND 2000 THEN '손님'
		    END UPT,
		    UPOINT, TO_CHAR(INDATE, 'YYYY-MM-DD') INDATE FROM TUSER WHERE USERID=#{userid}
	</select>
	
	<!-- user/write -->
	<insert id="insertUser">
		INSERT INTO TUSER (USERID, PASSWD, USERNAME, EMAIL, UPOINT)	VALUES (#{userid}, #{passwd}, #{username}, #{email}, 1000)
	</insert>
	
	<!-- user/update -->
	<update id="updateUser">
		UPDATE TUSER SET PASSWD = #{passwd}, USERNAME = #{username}, EMAIL = #{email}, UPOINT = #{upoint} WHERE USERID = #{userid}
	</update>
	
	<!-- user/delete -->
	<delete id="deleteUser">
		DELETE FROM TUSER WHERE USERID = #{userid}
	</delete>
	
	
	<!-- ========= -->
	<!-- users/login -->
	<select id="login">
		SELECT USERID, USERNAME, EMAIL, UPOINT, TO_CHAR(INDATE, 'YYYY-MM-DD') INDATE FROM TUSER WHERE USERID = #{arg0} AND PASSWD = #{arg1}
	</select>
</mapper>